* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #000000;
    --size-title: 36px;
    --border-title: 1px solid #BDBDBD;
    --size-ch: 30px;
    --text-size: 28px;
    --text-fam: 'PT Sans';
    --title-fam:'Francois One';
    --chapter-fam:'Farro';
    --gray-text: #DADADA;
    --underline-bk: 1px solid #000000;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_9 {
    margin-bottom: 9px;
}

.mb_70 {
    margin-bottom: 70px;
}

.mb_40 {
    margin-bottom: 40px;
}

.pt_70 {
    padding-top: 70px;
}

.mb_38 {
    margin-bottom: 38px;
}

.mb_32 {
    margin-bottom: 32px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_34 {
    margin-bottom: 34px;
}

.mb_36 {
    margin-bottom: 36px;
}

.mb_31 {
    margin-bottom: 31px;
}
.container {
    max-width: 1200px;
    margin: 0% auto;
}

.max-w {
    width: 785px;
}

.text {
    font-family: var(--text-fam);
    font-size: var(--text-size);
    color: var(--main-color);
    line-height: 48px;
    font-weight: 400;
}

.title {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: var(--size-title);
    font-family: var(--title-fam);
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 1.5px;
    cursor: default;

}

span::selection,
strong::selection,
h1::selection,
h2::selection,
.text::selection {
    background-color: var(--main-color);
    color: #fff;
}



.underline {
    border-bottom: var(--border-title);
}

.max_w {
    max-width: 365px;
}

body {
    font-family: 'PT Sans';
}

a {
    text-decoration: none;
    color: var(--main-color);
}

/* ---HEADER--- */

#header {
    padding-top: 13px;
    padding-bottom: 13px;
    height: 80px;
    position: sticky;
    top: 0;
    opacity: 1;
}

.logo:active,
.logo:hover {
    opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
}

.header-block_text__eng {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    line-height: 55px;
    letter-spacing: 0.04em;
    color: var(--main-color);
    top: -2px;
    left: 3px;
    position: relative;
}

.header-block_text {
    display: inline-flex;
    justify-content: center;
    gap: 54px;
    margin-right: 601px;
}

.header-block_text__doc {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    line-height: 55px;
    letter-spacing: 0.6px;    
    color: var(--main-color);
    width: 261px;
    transition: all 0.3s;
}

.header-block_text__doc:hover {
    cursor: pointer;
    color: #BDBDBD;

}

.header-block_text__doc:active {
    cursor: pointer;
    color: var(--main-color);

}

.header-block_text__space{
    margin-left: 7px;
    margin-right: 7px;
}

.header-block {
    display: flex;
}

/* >---HEADER---< */

/* <---MAIN---> */

.title_aside {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: var(--size-title);
    font-family: var(--title-fam);
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: all 0.3s;
}

.title_aside:hover {
    transform: scale(1.1);
}

.title_aside:active {
    transform: scale(1);
}

.general-flex_block {
    display: flex;
    min-height: 100vh;
}

.aside-wrapper {
    position: sticky;
    top: 100px;
  } 

.aside {
    display: inline-flex;
    flex-direction: column;
    max-width: 385px;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 36px;
    order: 1;
  }

.section-text {
    order: 2;
}

.aside :nth-child(2),
.aside :nth-child(4),
.aside :nth-child(6){
    margin-bottom: 70px;
}

.aside :nth-child(5) {
    width: 370px;
}

.section-text_block_blackLine {
    display: block;
    width: 100px;
    height: 8px;
    background: var(--main-color);
    margin-bottom: 20px;
}

.chapter {
    text-transform: capitalize;
    font-family: var(--chapter-fam);
    font-size: 17px;
    color: var(--main-color);
    font-weight: 300;
    line-height: 30px;
    position: relative;
    top: -24px;
    left: -4px;
}

.text_underline {
    text-decoration: underline 2px var(--main-color);
}

.bg_tool {
    background-image: url(../img/bg_tool.png);
    background-repeat: no-repeat;
    background-position: right 0px top 150px;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.italic {
    font-family: var(--text-fam);
    font-size: var(--text-size);
    color: var(--main-color);
    font-style: italic;
    letter-spacing: -0.9px;
}

.text-gray {
    display: inline-block;
    background: var(--gray-text);
}
  
/* <---MAIN---> */



